﻿@model WebApplication11.Models.ComputerSet

@{
    ViewBag.Title = "Удалить компьютер";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
<h2>Удалить компьютер</h2>

<div class="form-horizontal">
    <h4>Подтвердите удаление компьютера</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Name).@Html.DisplayFor(model => model.DomainSet.DomainName)" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.SalonSet.Name)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.SalonSet.Name)" disabled>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}


