﻿@model IEnumerable<WebApplication11.Models.ComputerSet>

@{
    ViewBag.Title = "Справочник Компьютеры";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
<div style="overflow: hidden;">
    <div style="width: 100%;">
        <div style="float: left; width: 91%; margin-top: 0px; margin-bottom: 0; "><h2>Справочник Компьютеры</h2></div>
        <div style="float: left; width: 9%;"><h2><input class="btn green" type="button" value="Добавить" onclick="location.href='@Url.Action("Create")'" /></h2></div>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-md-12">

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover dataTable" id="sample_2">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalonSet.Name)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name).@Html.DisplayFor(modelItem => item.DomainSet.DomainName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalonSet.Name)
                            </td>

                            <td align="center" width="35" class="text-decoration: none">
                                @Html.ActionLink(" ", "Edit", new { id = item.ComputerId }, new { @class = "fa fa-pencil", title = "Изменить" })

                                @Html.ActionLink(" ", "Details", new { id = item.ComputerId }, new { @class = "fa fa-search", title = "Подробно" })

                                @Html.ActionLink(" ", "Delete", new { id = item.ComputerId }, new { @class = "fa fa-trash-o", title = "Удалить" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

