﻿@model WebApplication11.Models.GateSet

@{
    ViewBag.Title = "Внести изменение в информацию о шлюзе";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
<h2>Внести изменение в информацию о шлюзе</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Отредактируйте форму</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GateId)
        @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">

                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.SalonId, "Подразделение")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SalonId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.SalonId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Model)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.IpAdress)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.IpAdress, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.IpAdress, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.IpAdressLocal)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.IpAdressLocal, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.IpAdressLocal, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                
            </div>
        </div>
        @* Конец блока с формами *@
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>