﻿@model WebApplication11.Models.LicBuy

@{
    ViewBag.Title = "Добавить закупку программного обеспечения";
}
 @{
     ViewBag.Lic = "class = active";
}
@{
    ViewBag.LicOpen = "open";
}
<h2>Добавить закупку</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Программное обеспечение</h4>
        <hr /> 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.DateBuy)
                        <span class="required">*</span>
                    </label>

                    <div class="col-md-4">
                        <div> 
                            @Html.EditorFor(model => model.DateBuy, new { htmlAttributes = new { @class = "form-control input-medium date-picker" } })
                            <span>@Html.ValidationMessageFor(model => model.DateBuy, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.SoftCompanyId, "Производитель программы")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SoftCompanyId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.SoftCompanyId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@
                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.SoftId, "Название программы")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SoftId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.SoftId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.Quantity)
                        <span class="required">*</span>
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.Price)
                        <span class="required">*</span>
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

               

                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.CompanyId, "Юр. лицо")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("CompanyId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@



                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.ProviderId, "Поставщик")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("ProviderId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@
            </div>
        </div>
        @* Конец блока с формами *@
        <p></p>
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        App.init();
        ComponentsPickers.init();
    });
</script>

