﻿@model WebApplication11.Models.LicBuy

@{
    ViewBag.Title = "Удаление закупки ПО";
}
@{
    ViewBag.Lic = "class = active";
}
@{
    ViewBag.LicOpen = "open";
}
<h2>Удалить закупку</h2>

<h3>Подтвердите удаление закупки ПО</h3>
<hr />
<div class="portlet-body form">
    <form class="form-horizontal" role="form">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.DateBuy)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.DateBuy)" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.SoftCompanySet.Name)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.SoftCompanySet.Name)" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.SoftSet.Name)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.SoftSet.Name)" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Quantity)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Quantity)" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Price)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Price)" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.CompanySet.Name)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.CompanySet.Name)" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ProviderSet.Name)</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.ProviderSet.Name)" disabled>
                </div>
            </div> 
        </div>
    </form>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}


