﻿@model WebApplication11.Models.LicBuy

@{
    ViewBag.Title = "Подробности по закупке";
}
@{
    ViewBag.Lic = "class = active";
}
@{
    ViewBag.LicOpen = "open";
}
<h2>Подробности по закупке</h2>

<div>
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.DateBuy):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.DateBuy)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.SoftCompanySet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.SoftCompanySet.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.SoftSet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.SoftSet.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Quantity):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Quantity)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Price):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Price)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.CompanySet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.CompanySet.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.ProviderSet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.ProviderSet.Name)</div>
                    </div>
                </div> 
            </div>
        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.LicBuyId })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@
