﻿@model IEnumerable<WebApplication11.Models.LicBuy>

@{
    ViewBag.Title = "Реестр закупок программного обеспечения";
}
@{
    ViewBag.Lic = "class = active";
}
@{
    ViewBag.LicOpen = "open";
}
<div style="overflow: hidden;">
    <div style="width: 100%;">
        <div style="float: left; width: 91%; margin-top: 0px; margin-bottom: 0; "><h2>Реестр закупок программного обеспечения</h2></div>
        <div style="float: left; width: 9%;"><h2><input class="btn green" type="button" value="Добавить" onclick="location.href='@Url.Action("Create")'" /></h2></div>
    </div>
</div>
 <p></p>
 
<div class="row">
    <div class="col-md-12">

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateBuy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoftSet.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanySet.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProviderSet.Name)
                        </th>

                        <th class="hidden-xs"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateBuy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoftSet.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanySet.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProviderSet.Name)
                            </td>


                            <td align="center" width="35" class="text-decoration: none">
                                @Html.ActionLink(" ", "Edit", new { id = item.LicBuyId }, new { @class = "fa fa-pencil", title = "Изменить" })

                                @Html.ActionLink(" ", "Details", new { id = item.LicBuyId }, new { @class = "fa fa-search", title = "Подробно" })

                                @Html.ActionLink(" ", "Delete", new { id = item.LicBuyId }, new { @class = "fa fa-trash-o", title = "Удалить" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

