﻿@model WebApplication11.Models.LoginViewModel

@{
    ViewBag.Title = "Страница авторизации";
}



@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    
@Html.AntiForgeryToken()
    <p></p><br />    <p></p>
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" method="post">
            <h3 class="form-title">Вход</h3>
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger"})
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", type = "text", @placeholder = "E-mail", name = "username", autocomplete = "off" })
                        <span>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", type = "password", autocomplete = "off", placeholder = "Пароль", name = "password" })
                        <span>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" value="1">@Html.LabelFor(m => m.RememberMe)
                    </label>
                    <button type="submit" class="btn blue pull-right">
                        Вход <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>  }


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}