﻿@model WebApplication11.Models.ApplicationUser
@{
    ViewBag.Title = "Подробности о пользователе";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Подробности о пользователе</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">

                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.UserName):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.UserName)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.FirstName):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.FirstName)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.LastName):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.LastName)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">Роли</div>
                        <div class="col-md-7 name">
                            @if (ViewBag.RoleNames.Count == 0)
                            {
                                <hr />
                                <p>Пользователь не состоял ни в одной роле.</p>
                            }

                            @foreach (var item in ViewBag.RoleNames)
                            {
                                @item 
                            }
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@