﻿@model WebApplication11.Models.ChangelogSet

@{
    ViewBag.Title = "Create";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ChangelogSet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control input-medium date-picker" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                @Html.LabelFor(model => model.comment)
            </label>

            <div class="col-md-4">
                <div> 

                    <textarea name="comment" id="comment" class="form-control" rows="3" style="margin: 0px -0.5px 0px 0px; height: 150px; width: 100%;">@Html.DisplayFor(model => model.comment)</textarea>
                    <span>@Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })</span>
                </div>
            </div>
        </div>


        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
