﻿@model WebApplication11.Models.ChangelogSet

@{
    ViewBag.Title = "Details";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Details</h2>

<div>
    <h4>ChangelogSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>
 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChangelogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
