﻿@model IEnumerable<WebApplication11.Models.ChangelogSet>

@{
    ViewBag.Title = "Журнализация изменений проекта";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Журнализация изменений проекта</h2>
<br /><br />
 
@foreach (var item in Model) {
<div class="col-md-9 article-block"> 
    <div class="blog-tag-data"> 
        <div class="row"> 
            <div class="col-md-6 blog-tag-data-inner">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-calendar"></i> 
                            @Html.DisplayFor(modelItem => item.Date)
                         
                    </li>
                     
                </ul>
            </div>
        </div>
    </div>
 
    <div class="md-preview" data-provider="markdown-preview">
        <p> @*Нормально воспринимает код HTML в текстовом поле*@
            @Html.Raw(item.comment) 
        </p>
        
         
    </div>
    <hr>
       
</div>
}
