﻿@model WebApplication11.Models.Apk
@{
    ViewBag.Title = "Добавить файл APK";
}
@{
    ViewBag.Software = "class = active";
}
@{
    ViewBag.SoftwareOpen = "open";
}
@*Скрипты обязательны для валидации проверки на уникальность вводимых данных*@
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Добавить файл APK</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.NameApk)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.NameApk, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.NameApk, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.DescriptionApk)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.DescriptionApk, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.DescriptionApk, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.VersionApk)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.VersionApk, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.VersionApk, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.FileApk)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.FileApk, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.FileApk, "", new { @class = "text-danger" })</span>
                            <span class="help-block">Заполняем точным именем файла, с расширением</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

            </div>
        </div>
        @* Конец блока с формами *@
        <p></p>
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}