﻿@model WebApplication11.Models.Apk
@{
    ViewBag.Title = "Удалить APK файл";
}
@{
    ViewBag.Software = "class = active";
}
@{
    ViewBag.SoftwareOpen = "open";
}
<h2>Удалить шлюз</h2>

<div class="form-horizontal">
    <h4>Подтвердите удаление оборудование: шлюз</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.NameApk)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.NameApk)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.DescriptionApk)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.DescriptionApk)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.VersionApk)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.VersionApk)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.FileApk)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.FileApk)" disabled>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}