﻿@model WebApplication11.Models.Apk
@{
    ViewBag.Title = "Подробности о APK файле";
}
@{
    ViewBag.Software = "class = active";
}
@{
    ViewBag.SoftwareOpen = "open";
}
<h2>Подробности о APK файле</h2>


<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.NameApk):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.NameApk)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.DescriptionApk):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.DescriptionApk)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.VersionApk):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.VersionApk)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.FileApk):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.FileApk)</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.IdApk })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@