﻿@model WebApplication11.Models.Apk
@{
    ViewBag.Title = "Внести изменение в информацию о APK файле";
}
@{
    ViewBag.Software = "class = active";
}
@{
    ViewBag.SoftwareOpen = "open";
}
<h2>Внести изменение в информацию о APK файле</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Отредактируйте форму</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdApk)
        @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.NameApk)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NameApk, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.NameApk, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.DescriptionApk)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DescriptionApk, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.DescriptionApk, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.VersionApk)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.VersionApk, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.VersionApk, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.FileApk)
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FileApk, new { htmlAttributes = new { @class = "form-control" } })
                        <span>@Html.ValidationMessageFor(model => model.FileApk, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы ввода *@

            </div>
        </div>
        @* Конец блока с формами *@
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>