﻿@model WebApplication11.Models.CompanySet

@{
    ViewBag.Title = "Создать компанию заказчика";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
@*Скрипты обязательны для валидации проверки на уникальность вводимых данных*@
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Создать компанию заказчика</h2>


@using (Html.BeginForm("Create", "CompanySets", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Юридическое лицо</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
    @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Name)
                        <span class="required">*</span>
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>

                @* Конец формы ввода *@
                <p><br></p>
                <h4>Реквизиты</h4>
                <hr />
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.address)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.inn)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.inn, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.inn, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@ 

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.kpp) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.kpp, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.kpp, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.rs) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.rs, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.rs, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.bank) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.bank, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.bank, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.ks) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.ks, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.ks, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.bic) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.bic, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.bic, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.ogrn) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.ogrn, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.ogrn, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                            
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.okved) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.okved, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.okved, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.oktmo) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.oktmo, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.oktmo, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.okato) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.okato, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.okato, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.tel) 
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.mailaddress)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.mailaddress, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.mailaddress, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.gendir)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.gendir, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.gendir, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.numgos)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.numgos, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.numgos, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.numnalog)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.numnalog, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.numnalog, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

            </div>
        </div>
        @* Конец блока с формами *@
        <p></p>
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}
