﻿@model WebApplication11.Models.CompanySet

@{
    ViewBag.Title = "Юридическое лицо";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
<h2>Юридическое лицо</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Name)</div>
                    </div>
                    <p><br></p>
                    <h4>Реквизиты</h4>
                    <hr />
                    @if (Model.address != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.address):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.address)</div>
                        </div> 
                    }
                    @if (Model.inn != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.inn):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.inn)</div>
                        </div> 
                    }
                    @if (Model.kpp != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.kpp):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.kpp)</div>
                        </div> 
                    }
                    @if (Model.rs != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.rs):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.rs)</div>
                        </div> 
                    }
                    @if (Model.bank != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.bank):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.bank)</div>
                        </div> 
                    }
                    @if (Model.ks != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.ks):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.ks)</div>
                        </div> 
                    }
                    @if (Model.bic != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.bic):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.bic)</div>
                        </div> 
                    }
                    @if (Model.ogrn != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.ogrn):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.ogrn)</div>
                        </div> 
                    }
                    @if (Model.okved != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.okved):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.okved)</div>
                        </div> 
                    }
                    @if (Model.oktmo != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.oktmo):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.oktmo)</div>
                        </div> 
                    }
                    @if (Model.okato != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.okato):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.okato)</div>
                        </div> 
                    }
                    @if (Model.tel != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.tel):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.tel)</div>
                        </div> 
                    }
                    @if (Model.mailaddress != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.mailaddress):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.mailaddress)</div>
                        </div> 
                    }
                    @if (Model.gendir != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.gendir):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.gendir)</div>
                        </div> 
                    }
                    @if (Model.numgos != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.numgos):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.numgos)</div>
                        </div> 
                    }
                    @if (Model.numnalog != null)
                    {
                        <div class="row static-info">
                            <div class="col-md-2 value">@Html.DisplayNameFor(model => model.numnalog):</div>
                            <div class="col-md-7 name">@Html.DisplayFor(model => model.numnalog)</div>
                        </div> 
                    }
                </div>

        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.CompanyId })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@