﻿a.img_edit {
    
    background: url('Images/edit.png') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    float:left;
    text-indent: -9999px; /* hides the link text */
}

a.img_info {
    background: url('Images/info.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    float:left;
    text-indent: -9999px; /* hides the link text */
}


a.img_pdf {
    background: url('Images/pdf.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    float:left;
    text-indent: -9999px; /* hides the link text */
}


a.img_trash {
    background: url('Images/trash.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    float:left;
    text-indent: -9999px; /* hides the link text */
}
