﻿@model WebApplication11.Models.IndexViewModel
@{
    ViewBag.Title = "Настройки учетной записи";
}

<h2>@ViewBag.Title</h2>
<p></p>
<br />
<div class="tab-pane" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-11">
                @*<li class="active">
                    <a data-toggle="tab" href="#tab_1-1">
                        <i class="fa fa-cog"></i> Персональная информация

                    </a>
                    <span class="after">
                    </span>
                </li>*@
                <li>
                    <a data-toggle="tab" href="#tab_3-3">
                        <i class="fa fa-lock"></i> Изменить пароль
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                @*<div id="tab_1-1" class="tab-pane active">
                    <form role="form" action="#">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" placeholder="John" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" placeholder="Doe" class="form-control" />
                        </div>
                        <div class="margiv-top-10">
                            <a href="#" class="btn green">
                                Save Changes
                            </a>
                            <a href="#" class="btn default">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>*@

                <div id="tab_3-3" class="tab-pane">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    { 
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = " " })
                             
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-large" })
                                <span>@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })</span>
                             
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                           
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-large" })
                                <span>@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })</span>
                            
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                            
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-large" })
                                <span>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</span>
                            
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="Сохранить" class="btn green" />
                            </div>
                        </div>
                    }</div>
                </div>
            </div>
            <!--end col-md-9-->
        </div>
    </div>
    @section Scripts {
        @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    }
