﻿@model IEnumerable<WebApplication11.Models.LicBuy >

@{
    ViewBag.Title = "Реестр закупок, последние добавления";
}
<h3 class="page-title">
    Реестр закупок программного обеспечения
</h3>

<p>
</p>
 
<p></p>
<div class="row">
    <div class="col-md-12">

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateBuy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SoftSet.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanySet.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProviderSet.Name)
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateBuy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoftSet.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanySet.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProviderSet.Name)
                            </td>
                             
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

