﻿@model WebApplication11.Models.ApplicationRole

@{
    ViewBag.Title = "Удалить роль";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Удалить роль</h2>
<div class="form-horizontal">
    <h3>Подтвердите удаления роли</h3>
    <p>При удалении роли, она удалится у всех пользователей кто в ней присутствовал.</p>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Name)" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.Description)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Description)" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}