﻿@model WebApplication11.Models.ApplicationRole

@{
    ViewBag.Title = "Роль";
}
@{
    ViewBag.Admin = "class = active";
}
@{
    ViewBag.AdminOpen = "open";
}
<h2>Роль</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Description):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Description)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">Пользователи:</div>
                        <div class="col-md-7 name">
                            @if (ViewBag.UserCount == 0)
                            {
                                <p>Нет пользователей с этой ролью</p>
                            }
                            @foreach (var item in ViewBag.Users)
                            {
                                @item.UserName <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@