﻿@model WebApplication11.Models.DomainSet

@{
    ViewBag.Title = "Домен";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
<h2>Домен Active Directory</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.DomainName):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.DomainName)</div>
                    </div> 
                </div> 
            </div>
        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.DomainId })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@