﻿@model WebApplication11.Models.BuyLicSet

@{
    ViewBag.Title = "Подробная информация по лицензии";
}

<h2>Подробности</h2>

<div>
    <h4>Подробная информация по лицензии</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanySet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanySet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalonSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalonSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftCompanySet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftCompanySet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateActivation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateActivation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuyLicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
