﻿@model IEnumerable<WebApplication11.Models.BuyLicSet>

@{
    ViewBag.Title = "Купленное программное обеспечение";
}

<h2>Купленное программное обеспечение</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanySet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerSet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderSet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalonSet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftCompanySet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftSet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateActivation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanySet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerSet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderSet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalonSet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftCompanySet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftSet.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActivation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docs)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.BuyLicId }, new { @class = "img_edit" })
            @Html.ActionLink(" ", "Details", new { id = item.BuyLicId }, new { @class = "img_info" })
            @Html.ActionLink(" ", "Delete", new { id = item.BuyLicId }, new { @class = "img_trash" })
        </td>
    </tr>
}

</table>
