﻿@model WebApplication11.Models.SalonSet

@{
    ViewBag.Title = "Подразделение";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
<h2>Подразделение</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.CompanySet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.CompanySet.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Address):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Address)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Phone):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Phone)</div>
                    </div>
                </div>  
            </div>
        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.SalonId })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@