﻿@{
    ViewBag.Title = "Список Справочников";
}

<h2>Справочники</h2>

<p>
    @Html.ActionLink("Компьютеры", "Index", "ComputerSets")
</p>

<p>
    @Html.ActionLink("Компания заказчик", "Index", "CompanySets")
</p>

<p>
    @Html.ActionLink("Салоны \\ отделы", "Index", "SalonSets")
</p>

<p>
    @Html.ActionLink("Производитель", "Index", "SoftCompanySets")
</p>

<p>
    @Html.ActionLink("Поставщик", "Index", "ProviderSets")
</p>

<p>
    @Html.ActionLink("Программы", "Index", "SoftSets")
</p>

<p>
    @Html.ActionLink("Добавить Закупку", "Create", "BuyLicSets")
</p>

<p>
    @Html.ActionLink("Домены", "Index", "DomainSets")
</p>
