﻿@model WebApplication11.Models.ProviderSet
@{
    ViewBag.Title = "Добавить поставщика";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
@*Скрипты обязательны для валидации проверки на уникальность вводимых данных*@
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Добавить поставщика</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.Name)
                        <span class="required">*</span>
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.site)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.site, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.site, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.manager)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.manager, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.manager, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.tel)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.mail)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.icq)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.icq, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.icq, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.lk)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.lk, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.lk, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.login)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.pass)
                    </label>

                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.LabelFor(model => model.comment)
                    </label>

                    <div class="col-md-4">
                        <div>
                            <textarea class="form-control" rows="3" style="margin: 0px -0.5px 0px 0px; height: 150px; width: 100%;">@Html.DisplayFor(model => model.comment)</textarea>
                            <span>@Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Конец формы списка с поиском *@
            </div>
        </div>
        @* Конец блока с формами *@
        <p></p>
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}

@* Добавляет возможность загружать файлы в папку, а SQL хранится ссылка на него
        @using (Html.BeginForm("Upload", "ProviderSets", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadfile" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }*@