﻿@model WebApplication11.Models.ProviderSet

@{
    ViewBag.Title = "Удалить поставщика";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
<h2>Удалить поставщика</h2>
<div class="form-horizontal">
    <h3>Подтвердите удаления поставщика</h3>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Name)" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}