﻿@model WebApplication11.Models.ProviderSet

@{
    ViewBag.Title = "Поставщик";
}
@{
    ViewBag.Directory = "class = active";
}
@{
    ViewBag.DirectoryOpen = "open";
}
<h2>Поставщик</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">




                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.site):</div>
                        <div class="col-md-7 name"><a href="http://@Html.DisplayFor(model => model.site)">@Html.DisplayFor(model => model.site)</a></div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.manager):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.manager)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.tel):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.tel)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.mail):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.mail)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.icq):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.icq)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.lk):</div>
                        <div class="col-md-7 name"><a href="http://@Html.DisplayFor(model => model.lk)">@Html.DisplayFor(model => model.lk)</a></div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.login):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.login)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.pass):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.pass)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.comment):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.comment)</div>
                    </div>
                </div>  
            </div>
        </form>
    </div>

</div>

@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.ProviderId})'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@