﻿<!DOCTYPE html>
<html lang="en" >
<!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Справочник лицензирования</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/uploadify/jquery.uploadify.min.js")"></script>
    <link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2-metronic.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/assets/css/style-metronic.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/style-responsive.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/pages/tasks.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <!-- END THEME STYLES -->

    <script type="text/javascript">
    $(function () {
        $('#file_upload').uploadify({
            'swf': "@Url.Content("~/Content/uploadify/uploadify.swf")",
            'cancelImg': "@Url.Content("~/Content/uploadify/uploadify-cancel.png")",
            'uploader': "@Url.Action("Upload", "CompanySets")",
            'onUploadSuccess': function (file, data, response) {
                $("#uploaded").append("<img src='" + data + "' alt='Uploaded Image' />");
            }
        });
    });
    </script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="/">
                <img src="" alt="" class="img-responsive">
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="~/Content/assets/img/menu-toggler.png" alt="">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                @Html.Partial("_LoginPartial")

                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone">
                        </div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li class="sidebar-search-wrapper">
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search" action="extra_search.html" method="POST">
                            <div class="form-container">
                                <div class="input-box">
                                    <a href="javascript:;" class="remove">
                                    </a>
                                </div>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>


                    <li class="start ">
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span class="title">
                                Главная
                            </span>

                        </a>
                    </li>
                    <li @ViewBag.Directory>

                        <a href="javascript:;">
                            <i class="fa fa-info-circle"></i>
                            <span class="title">
                                Справочники
                            </span>
                            <span class="arrow @ViewBag.DirectoryOpen">
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/FirmSets/">
                                    <i class="fa fa-book"></i>
                                    Фирмы
                                </a>
                            </li>
                            <li>
                                <a href="/CompanySets/">
                                    <i class="fa fa-shopping-cart"></i>
                                    Юр. лица заказчик
                                </a>
                            </li>
                            <li>
                                <a href="/SalonSets/">
                                    <i class="fa fa-tags"></i>
                                    Салоны \ отделы
                                </a>
                            </li>
                            <li>
                                <a href="/SoftCompanySets/">
                                    <i class="fa fa-sitemap"></i>
                                    Производитель ПО
                                </a>
                            </li>
                            <li>
                                <a href="/ProviderSets/">
                                    <i class="fa fa-file-o"></i>
                                    Поставщики
                                </a>
                            </li>
                            <li>
                                <a href="/SoftSets/">
                                    <i class="fa fa-windows"></i>
                                    Программы
                                </a>
                            </li>
                            <li>
                                <a href="/DomainSets/">
                                    <i class="fa fa-trash-o"></i>
                                    Домены
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li @ViewBag.Lic>
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span class="title">
                                Лицензирование
                            </span>
                            <span class="arrow @ViewBag.LicOpen"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/LicBuys/">
                                    <i class="fa fa-ruble"></i>
                                    Реестр лицензий
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li @ViewBag.Equipment>
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            <span class="title">
                                Оборудование
                            </span>
                            <span class="arrow @ViewBag.EquipmentOpen">
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/ComputerSets/">
                                    <i class="fa fa-laptop"></i>
                                    Компьютеры
                                </a>
                            </li>
                            <li>
                                <a href="/GateSets/">
                                    <i class="fa fa-bullhorn"></i>
                                    Шлюзы
                                </a>
                            </li>
                            <li>
                                <a href="/LedSets/">
                                    <i class="fa fa-building-o"></i>
                                    Бегущие строки
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li @ViewBag.Software>
                        <a href="javascript:;">
                            <i class="fa fa-folder-open-o"></i>
                            <span class="title">
                                ПО
                            </span>
                            <span class="arrow @ViewBag.SoftwareOpen"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/Apk/">
                                    <i class="fa fa-android"></i>
                                    <span class="badge badge-success badge-roundless">new</span>
                                    APK файлы
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li @ViewBag.Admin>
                            <a href="javascript:;">
                                <i class="fa fa-group"></i>
                                <span class="title">
                                    Администрирование
                                </span>
                                <span class="arrow @ViewBag.AdminOpen">
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/UsersAdmin/">
                                        <i class="fa fa-user"></i>
                                        Пользователи
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="/RolesAdmin/">
                                        <i class="fa fa-eye"></i>
                                        Роли
                                    </a>
                                </li>
                                <li class="last">
                                    <a href="/ChangelogSets/">
                                        <i class="fa fa-coffee"></i>
                                        Журнал изменений
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>

        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        @RenderBody()

                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            &copy; @DateTime.Now.Year – D.M. 
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/plugins/respond.min.js"></script>
    <script src="~/Content/assets/plugins/excanvas.min.js"></script>
    <![endif]--> 
    <script src="~/Content/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/Content/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>


    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <script src="~/Content/assets/scripts/core/app.js"></script>
    <script src="~/Content/assets/scripts/custom/table-advanced.js"></script>
    <script src="~/Content/assets/scripts/custom/components-pickers.js"></script>
    <!-- END PAGE LEVEL STYLES -->
    <script>
        jQuery(document).ready(function () {
            App.init();
            TableAdvanced.init();
            ComponentsPickers.init();
        });
    </script>
 
    <!-- END JAVASCRIPTS -->
    <!-- END BODY -->
    @RenderSection("scripts", required: false)
</body>
</html>