﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav pull-right">

        <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" width="1" height="29" src="~/Content/assets/img/1x1.png" />
                
                <span class="username">
                    @User.Identity.GetUserName()
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">

                <li>
                    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> Профиль</a>
                </li>
                <li class="divider">
                </li>


                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }

                </li>

                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-key"></i> Выход</a>
                    <script>
                        function submitForm() {
                            document.getElementById('logoutForm').submit();
                        }</script>


                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
