﻿@model WebApplication11.Models.LedSet

@{
    ViewBag.Title = "Добавить бегущую строку";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
@*Скрипты обязательны для валидации проверки на уникальность вводимых данных*@
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Добавить бегущую строку</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* Начало блока с формами *@
        <div class="row">
            <div class="col-md-12">
                @* Начало формы списка с поиском *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.SalonId, "Подразделение")
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownList("SalonId", null, String.Empty, new { @class = "form-control select2me" })
                        <span>@Html.ValidationMessageFor(model => model.SalonId, "", new { @class = "text-danger" })</span>
                    </div>
                </div>
                @* Конец формы списка с поиском *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.LedModel)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.LedModel, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.LedModel, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.LedSize)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.LedSize, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.LedSize, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                @* Начало формы с датой *@
                <div class="form-group">
                    @Html.LabelFor(model => model.DateInstall, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.DateInstall, new { htmlAttributes = new { @class = "form-control input-medium2 date-picker" } })
                        <span>@Html.ValidationMessageFor(model => model.DateInstall, "", new { @class = "text-danger" })</span>
</div>
                </div>
                @* Конец формы с датой *@
                <hr width="50%" /> 
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.ConnectionType)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.ConnectionType, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.ConnectionType, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.ModelMoxa)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.ModelMoxa, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.ModelMoxa, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.IpAdress)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.IpAdress, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.IpAdress, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@
                <hr width="50%" />
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.NameSoft)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.NameSoft, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.NameSoft, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.PowerOn)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.PowerOn, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.PowerOn, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@ 
                <hr width="50%"/>
                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.Рrovider)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.Рrovider, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.Рrovider, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.РroviderContact)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.РroviderContact, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.РroviderContact, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@

                @* Начало формы ввода *@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(model => model.РroviderCall)
                    </label>
                    <div class="col-md-4">
                        <div>
                            @Html.EditorFor(model => model.РroviderCall, new { htmlAttributes = new { @class = "form-control" } })
                            <span>@Html.ValidationMessageFor(model => model.РroviderCall, "", new { @class = "text-danger" })</span>
                        </div>
                    </div>
                </div>
                @* Конец формы ввода *@ 
                @* Начало формы комментария *@
                <div class="form-group last">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <textarea id="comment" class="ckeditor form-control" name="comment" rows="6" data-error-container="#editor2_error">@Html.DisplayFor(model => model.Comments)</textarea>
                        <div id="editor2_error">
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @* Конец формы комментария *@

            </div>
        </div>
        @* Конец блока с формами *@
        <p></p>
        @* Начало блока с кнопками *@
        <div class="col-md-5">
            <button type="submit" class="btn green">Сохранить</button>
            <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
        </div>
        @* Конец блока с кнопками *@
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}