﻿@model WebApplication11.Models.LedSet

@{
    ViewBag.Title = "Удалить бегущую строку";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
<h2>Удалить бегущую строку</h2> 

<div class="form-horizontal">
    <h4>Подтвердите удаление оборудования: бегущая строка</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.SalonSet.Name)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.SalonSet.Name)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.LedModel)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.LedModel)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.LedSize)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.LedSize)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.DateInstall)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.DateInstall)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ConnectionType)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.ConnectionType)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ModelMoxa)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.ModelMoxa)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.IpAdress)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.IpAdress)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.NameSoft)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.NameSoft)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.PowerOn)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.PowerOn)" disabled>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Рrovider)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.Рrovider)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.РroviderContact)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.РroviderContact)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.РroviderCall)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.DisplayFor(model => model.РroviderCall)" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(model => model.Comments)</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="@Html.Raw(Model.Comments)" disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @* Начало блока с кнопками *@
    <div class="col-md-5">
        <button type="submit" class="btn green">Удалить</button>
        <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
    </div>
    @* Конец блока с кнопками *@
}     