﻿@model WebApplication11.Models.LedSet

@{
    ViewBag.Title = "Подробности по бегущей строке";
}
@{
    ViewBag.Equipment = "class = active";
}
@{
    ViewBag.EquipmentOpen = "open";
}
<h2>Подробности по бегущей строке</h2>

<div class="form-horizontal">
    <h4>Информация</h4>
    <hr />
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.SalonSet.Name):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.SalonSet.Name)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.LedModel):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.LedModel)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.LedSize):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.LedSize)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.DateInstall):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.DateInstall)</div>
                    </div>
                    <hr width="50%" /> 
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.ConnectionType):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.ConnectionType)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.ModelMoxa):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.ModelMoxa)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.IpAdress):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.IpAdress)</div>
                    </div>
                    <hr width="50%" /> 
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.NameSoft):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.NameSoft)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.PowerOn):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.PowerOn)</div>
                    </div>
                    <hr width="50%" /> 
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Рrovider):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.Рrovider)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.РroviderContact):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.РroviderContact)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.РroviderCall):</div>
                        <div class="col-md-7 name">@Html.DisplayFor(model => model.РroviderCall)</div>
                    </div>
                    <div class="row static-info">
                        <div class="col-md-2 value">@Html.DisplayNameFor(model => model.Comments):</div>
                        <div class="col-md-7 name">@Html.Raw(Model.Comments)</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@* Начало блока с кнопками *@
<div class="col-md-5">
    <input class="btn green" type="button" value="Изменить" onclick="location.href='@Url.Action("Edit", new { id = Model.LedId })'" />
    <input class="btn default" type="button" value="Отмена" onclick="location.href='@Url.Action("Index")'" />
</div>
@* Конец блока с кнопками *@